<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @title || "Default in case we forget to set it on some page" %>
    </title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=
            link_to_unless_current @title,
              root_path, class: "navbar-brand" do |label|
                content_tag(:span, label, class: "navbar-brand")
              end
          %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to_unless_current "About", about_path do
                content_tag(:span, "About", class: "this-page")
              end %>
            </li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Place order</a></li>
                <li><a href="#">View order</a></li>
                <li><a href="#">Edit order</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Settings</li>
                <li><a href="#">Edit profile</a></li>
                <li><a href="#">Sign out</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <main class="container main" role="main">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <nav class="pull-right">
          <%= link_to_unless_current "Privacy policy", privacy_path do |label|
            content_tag(:span, label, class: "this-page")
          end %> &middot;
          <%= link_to_unless_current "Terms of use", terms_path do |label|
            content_tag(:span, label, class: "this-page")
          end %>
        </nav>
        <p class="copyright">
          &copy; 2015 Sarah Rogers.
        </p>

      </div>
    </footer>



  </body>
</html>
